* {
	box-sizing: border-box;
}

.wrapper {
    margin-left: 30%;
	font-family: Montserrat;
	width: 260px;
    height: 150px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.outer {
	position: relative;
	height: 300px;
	width: 280px;
    padding: 25px;

}


.content {
	animation-delay: 0.3s;
	position: absolute;
	left: 20px;
	z-index: 3
}

h1 {
	color: #111;
}

p {
	width: 280px;
	font-size: 13px;
	color: #aaa;
	
}

.bg {
	display: inline-block;
	color: #fff;
	background: cornflowerblue;

	border-radius: 50px;
	font-size: .7em;
}


.delete {
    background-color: red;
    border-radius: 12px;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    width: 20%;
  }
  