.join-btn {
    margin-top: 15%;
    margin-left: 5%;
}

.image {
   background: no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
    min-width: 1000px;
    margin-top:31px;
}